.admin_form
  -form_for admin do |f|
    = f.error_messages

    .attribute
      .name= f.label :login, I18n.t('txt.login.login')
      .value= f.text_field :login
    .attribute
      .name= f.label :password, I18n.t('txt.login.password')
      .value= f.password_field :password
    .attribute
      .name= f.label :password_confirmation, I18n.t('txt.login.confirmation')
      .value= f.password_field :password_confirmation

    = hidden_field_tag 'admin[user_id]', admin.user.id

    .admin_submit_button= f.submit I18n.t('txt.save')
