%script{:type => "text/javascript"}
  $.ui.dialog.defaults.bgiframe = true;
  $(function() { $(".dialog").dialog(); });


%table.users_table
  - users.each_with_index do |user, index|
    %tr{:class => index.odd? ? 'even_row' : 'odd_row'}

      %td{:style => 'width: 40px; text-align: center;'}
        - if user.admin?
          = link_to image_tag('cross.png'), user.admin, :method => :delete, :confirm => "Are you sure you want to delete #{user.name} privileges?"

        - else
          = link_to_function image_tag('tick.png'), :href => nil, :id => "show_admin_form_#{user.id}_link" do |page|
            - page[:"admin_form_#{user.id}"].visual_effect :blind_down, :duration => 0.5
            - page[:"show_admin_form_#{user.id}_link"].hide
            - page[:"hide_admin_form_#{user.id}_link"].visual_effect :appear

          = link_to_function image_tag('cross.png'), :href => nil, :id => "hide_admin_form_#{user.id}_link", :style => "display:none;" do |page|
            - page[:"admin_form_#{user.id}"].visual_effect :blind_up, :duration => 0.5
            - page[:"hide_admin_form_#{user.id}_link"].hide
            - page[:"show_admin_form_#{user.id}_link"].visual_effect :appear

      %td
        .two_col
          %span
            = image_tag 'face.png', :style => 'vertical-align: middle;'
            = link_to h(user.full_name), user

        .two_col
          - if user.admin?
            %div{:id => "admin_form_#{user.id}", :style => 'display:none;'}
              = render :partial => 'form', :locals => {:admin => user.admin}

            %div{:id => "admin_show_#{user.id}"}
              .attribute
                .name Login:
                .value= user.admin.login

            = link_to_function I18n.t('txt.edit'), :href => nil, :id => "show_admin_show_#{user.id}_link" do |page|
              - page[:"admin_form_#{user.id}"].visual_effect :blind_down, :duration => 0.5
              - page[:"admin_show_#{user.id}"].visual_effect :blind_up, :duration => 0.5
              - page[:"show_admin_show_#{user.id}_link"].hide
              - page[:"hide_admin_show_#{user.id}_link"].visual_effect :appear

            = link_to_function I18n.t('txt.cancel'), :href => nil, :id => "hide_admin_show_#{user.id}_link", :style => "display:none;" do |page|
              - page[:"admin_form_#{user.id}"].visual_effect :blind_up, :duration => 0.5
              - page[:"admin_show_#{user.id}"].visual_effect :blind_down, :duration => 0.5
              - page[:"hide_admin_show_#{user.id}_link"].hide
              - page[:"show_admin_show_#{user.id}_link"].visual_effect :appear

          - else
            %div{:id => "admin_form_#{user.id}", :style => 'display:none;'}
              = render :partial => 'form', :locals => {:admin => Admin.new(:user => user)}
