- show_company ||= false

%table.users_table
  %tr
    %th User
    %th Phone
    %th Mobile
    %th Email
    %th Skype
    - if show_company
      %th Company

  - users.each_with_index do |user, index|
    %tr{:class => index.even? ? 'even_row' : 'odd_row'}
      %td.name_cell
        %span
          = image_tag 'face.png', :style => 'vertical-align: middle;'
          = link_to h(user.full_name), user

      %td= user.phone

      %td= user.mobile

      %td= mail_to user.email

      %td
        - if user.skype?
          = link_to image_tag("http://mystatus.skype.com/smallclassic/#{user.skype}", :class=>"skype", :alt=>"My status"), "skype:#{user.skype}?chat"

      - if show_company
        %td= link_to user.company.name, user.company if user.company

      - if admin?
        %td
          = link_to 'edit', edit_user_path(user)
          |
          = link_to 'destroy', user, :method => :delete, :confirm => 'Are you sure you wan to delete this user?'
