%table{:width => "100%"}
  %tr
    %th User
    %th Surname
    %th Phone
    %th Mobile
    %th Email

  - users.each do |user|
    %tr
      %td{:width => "200px"}
        = render :partial => "users/widget", :locals => {:user => user}
      %td= user.surname
      %td= user.phone
      %td= user.mobile
      %td= mail_to user.email
