- show_company ||= false

%table.users_table
  %tr
    %th= I18n.t('txt.users.attributes.name')
    %th= I18n.t('txt.users.attributes.phone')
    %th= I18n.t('txt.users.attributes.mobile')
    %th= I18n.t('txt.users.attributes.email')
    %th= I18n.t('txt.users.attributes.skype')
    - if show_company
      %th= I18n.t('txt.users.attributes.company')

  - users.each_with_index do |user, index|
    %tr{:class => index.odd? ? 'even_row' : 'odd_row'}
      %td.name_cell
        %span
          = image_tag user.avatar.url(:thumb), :style => 'vertical-align: middle;'
          = link_to h(user.full_name), user

      %td= user.phone

      %td= user.mobile

      %td= mail_to user.email

      %td
        - if user.skype?
          %span
            %a{:href => "skype:#{user.skype}?chat"}
              = image_tag "http://mystatus.skype.com/mediumicon/#{user.skype}", :class=>"skype", :alt=>"My status"
              = user.skype

      - if show_company
        %td= link_to user.company.name, user.company if user.company

      - if admin?
        %td
          = link_to image_tag('edit.png', :width => '20px', :alt => I18n.t('txt.edit')), edit_user_path(user)
          = link_to image_tag('bin.png', :width => '15px', :alt => I18n.t('txt.destroy')), user, :method => :delete, :confirm => "#{I18n.t('txt.confirm_delete')} all details for '#{user.full_name}'?"

      - elsif current_user == user
        %td
          = link_to image_tag('edit.png', :width => '20px', :alt => I18n.t('txt.edit')), edit_user_path(user)
