- show_company ||= false

%table{:style => "width:100%; border: 1px solid #cccccc;"}
  %tr
    %th User
    %th Phone
    %th Mobile
    %th Email
    %th Skype
    - if show_company
      %th Company
    - if admin?
      %th &nbsp;
      %th &nbsp;

  - users.each_with_index do |user, index|
    %tr{:class => index.even? ? 'even_row' : 'odd_row'}
      %td{:style => "min-width:100px;text-transform:uppercase;"}= widget_for user, true
      %td= user.phone
      %td= user.mobile
      %td{:style => "text-transform:lowercase;"}= mail_to user.email
      %td
        - if user.skype?
          %script{:type=>"text/javascript", :src=>"http://download.skype.com/share/skypebuttons/js/skypeCheck.js"}
          %a{:href=>"skype:#{user.skype}?chat"}
            %img{:src=>"http://mystatus.skype.com/smallclassic/#{user.skype}", :style=>"border: none;", :width=>"114", :height=>"20", :alt=>"My status"}

      - if show_company
        %td= link_to user.company.name, user.company if user.company
      - if admin?
        %td= link_to 'edit', edit_user_path(user)
        %td= link_to 'destroy', user, :method => :delete, :confirm => 'Are you sure you wan to delete this user?'
