- form_for user, :url => user, :html => {:multipart => true} do |f|

  = error_messages_for :user

  .attribute
    .name= f.label :password
    .value= f.password_field :password
  .attribute
    .name= f.label :password_confirmation
    .value= f.password_field :password_confirmation

  = f.submit translate('txt.change')
