%h1
  = translate('txt.edit')
  = @user.name
  = @user.surname

.two_col= render :partial => "form", :locals => {:user => @user}

.two_col{:style => 'width: 35%; padding-left: 10%;'}
  .widget= render :partial => 'password_form', :locals => {:user => @user}
