%h1= @user.full_name.capitalize

#user_show
  %div{:style => 'width: 300px; float:left'}
    = image_tag @user.avatar.url(:medium)
  %div{:style => 'padding-left: 30px; float:left'}
    
    .attribute
      .name= translate('txt.users.attributes.name')
      .value= @user.name.capitalize
    .attribute
      .name= translate('txt.users.attributes.surname')
      .value= @user.surname.capitalize
    .attribute
      .name Username
      .value= @user.login
    .attribute
      .name= translate('txt.users.attributes.phone')
      .value= @user.phone
    .attribute
      .name= translate('txt.users.attributes.mobile')
      .value= @user.mobile
    .attribute
      .name= translate('txt.users.attributes.fax')
      .value= @user.fax
    .attribute
      .name= translate('txt.users.attributes.email')
      .value= mail_to @user.email
    .attribute
      .name= translate('txt.users.attributes.skype')
      .value
        - if @user.skype?
          %script{:type=>"text/javascript", :src=>"http://download.skype.com/share/skypebuttons/js/skypeCheck.js"}
          %span
            %a{:href => "skype:#{@user.skype}?chat"}
              = image_tag "http://mystatus.skype.com/mediumicon/#{@user.skype}", :class=>"skype", :alt=>"My status"
              = @user.skype
    .attribute
      .name= translate('txt.users.attributes.company')
      .value= @user.company ? link_to(@user.company.name, @user.company) : translate('txt.none')
    .attribute
      .name Website
      .value
        %a{:href => "http://#{@user.website}", :target => '_blank'}= @user.website
    - if admin?
      .attribute
        .name Admin
        .value= @user.admin? ? translate('txt.sure') : translate('txt.noway')
    - if @user.more_information and not @user.more_information.empty?
      %hr
      %p= RedCloth.new(@user.more_information).to_html

  .clear

%br
- if (current_user == @user) or admin?
  #update_user{:style => 'display:none;'}
    = render :partial => 'form', :locals => {:user => @user }

  = link_to_function I18n.t('txt.edit').capitalize, :href => edit_user_path(@user), :id => "edit_user_link" do |page|
    - page[:user_show].visual_effect :blind_up, :duration => 0.5
    - page[:update_user].visual_effect :blind_down, :duration => 0.5
    - page[:edit_user_link].hide
    - page[:cancel_edit_user_link].visual_effect :appear

  = link_to_function translate('txt.cancel').capitalize, :href => nil, :id => 'cancel_edit_user_link', :style => "display:none;" do |page|
    - page[:user_show].visual_effect :blind_down, :duration => 0.5
    - page[:update_user].visual_effect :blind_up, :duration => 0.5
    - page[:cancel_edit_user_link].hide
    - page[:edit_user_link].visual_effect :appear
- if admin?
  &nbsp; |
  = link_to translate('txt.destroy').capitalize, @user, :method => :delete, :confirm => "#{I18n.t('txt.confirm_delete')} all details for '#{@user.full_name}'?"
