%h1 All companies

- if admin?
  = link_to_function "#{I18n.t('txt.new')} #{I18n.t('txt.company')}".capitalize, :href => new_company_path, :id => 'new_company_link' do |page|
    - page[:create_company].visual_effect :blind_down, :duration => 0.5
    - page[:new_company_link].hide
    - page[:cancel_new_company_link].visual_effect :appear

  = link_to_function I18n.t('txt.cancel'), :href => new_company_path, :id => 'cancel_new_company_link', :style => "display:none;" do |page|
    - page[:create_company].visual_effect :blind_up, :duration => 0.5
    - page[:cancel_new_company_link].hide
    - page[:new_company_link].visual_effect :appear

  #create_company{:style => 'display:none;'}
    = render :partial => 'form', :locals => {:company => Company.new }
  %br
  %br

%table{:width => "100%"}
  %tr
    %th= I18n.t('txt.companies.attributes.name')
    %th= I18n.t('txt.companies.attributes.city')
    %th= I18n.t('txt.companies.attributes.street')
    %th= I18n.t('txt.companies.attributes.number')
    %th= I18n.t('txt.companies.attributes.postcode')
    %th= I18n.t('txt.companies.attributes.phone')
    %th= I18n.t('txt.companies.attributes.fax')
    %th= I18n.t('txt.companies.attributes.iva')
    %th= I18n.t('txt.users.users_word')

  - @companies.each_with_index do |company, index|
    %tr{:class => index.odd? ? 'even_row' : 'odd_row'}
      %td= link_to h(company.name), company
      %td= h company.city
      %td= h company.street
      %td= h company.number
      %td= h company.postcode
      %td= h company.phone
      %td= h company.fax
      %td= h company.iva
      %td= company.users.count

      - if admin?
        %td= link_to I18n.t('txt.edit'), edit_company_path(company)
        %td= link_to I18n.t('txt.destroy'), company_path(company), :method => :delete, :confirm => "Are you sure you want to delete #{company.name}?"
