%h1
  = I18n.t('txt.service.title')

- form_tag '/service/send_access' do

  .attribute
    .name= I18n.t('txt.users.attributes.email')
    .value= text_field_tag :email
    .vlaue= submit_tag I18n.t('txt.service.send')

%p= I18n.t('txt.service.frase_one')
%p= I18n.t('txt.service.frase_two')
