%h1= I18n.t('txt.login.title')

- form_for @user_session, :url => user_session_path do |f|

  = f.error_messages
  .attribute
    .name= f.label :email
    .value= f.text_field :email, :size => 20
  .attribute
    .name= f.label :password, I18n.t('txt.login.password')
    .value= f.password_field :password, :size => 20

  .attribute
    .name= f.label :remember_me, I18n.t('txt.login.remember')
    .value= f.check_box :remember_me

  = f.submit I18n.t('txt.login.login')


%p= translate('txt.login.login_message')
